



html {
    
margin: 0;
padding: 0;
width: 100%;
height:100%;

  }


header{

    background-color: #ffffff;
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #cccccc;
}
div#headerContainer {

    width: 960px;
    background-color: #ffffff;
    position: relative;
    top: 0;
    height: 90px;
    margin: 0 auto;
    border-bottom: 3px solid #cccccc;
    

}

div#teal{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    background-color:#4aaaa5;
    color: #ffffff;
    font-size: 30px;
    height: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-weight: 700;

}

div#nextTeal{


    font-size: 20px;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 35px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

div#mainSection {

    width: 918px;
    border: 1px solid #dddddd;
    margin: 50px auto;
    position: relative;
    background-color: #ffffff;
    color: #777777;
    overflow: auto;
    z-index: 1;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    
    
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: 700;
}

h3{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: 700;
}

hr {

    border:1.5px solid #dddddd;
}

body {

    
    background-image: url("../images/backg.png");
    margin: 0;
    padding: 0;
    margin-top: 0;
  
}



div#end{

    height: 50px;
  	left: 0;
  	right: 0;
  	position: relative;
  	bottom: 0;
    background-color: #666666;
    margin-bottom: 0px;
    margin-top: 500px;
    border-top: 5px solid #4aaaa5;
    width: 100% ;
    z-index: -1;

}

div#copyr {

    padding: 20px;
    text-align: center;
    color: #b7bbba;
    font-size: 15px;
    width: auto;
    height: auto;
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}



img.floatL{
    float: left;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    
   
}

/*nav's link css code*/

a.nav{

    color: #777777;
    text-decoration:none;
}

/* Some hover effects on links*/

.nav:hover{

    text-decoration:underline;
    color: #4aaaa5;
}



p{
   margin-top: 20px;
}

p.clear{

    clear: both;
}

img.icon{

    float: left;
    padding: 10px;
    width: 80px;
    height: 80px;
    
}

div#conectSection{

width: 918px;
border: 1px solid #dddddd;
margin: 50px auto;
position: relative;
background-color: #ffffff;
padding: 20px;
overflow: auto;
z-index: 1;


}
/* This is the css code for the contact page*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    /*border-radius: 4px; In case we want smoothie corners*/
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    resize: vertical;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit]:hover {
    background-color: darkcyan;
}

/*Code for Portfolio page*/

div.imgBox{

    height: 200px;
    width: 300px;
    position: relative;
    padding: 20px;
    float: left;
    
}

/* Some hover effects on pictures*/
.hoverImg:hover{

    opacity: 1; 
    cursor: pointer;
    

}
.hoverImg{

    float: left;
    opacity: 0.85; 
}
.label{

    font-size: 20px;
    padding: 10px;
    width: 280px ;
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

/*Media query for 980px */

@media only screen and (max-width: 980px) {
    
       
        div#headerContainer {

            width: 800px;
            background-color: #ffffff;
            position: relative;
            top: 0;
            height: 90px;
            margin: 0 auto;
            border-bottom: 3px solid #cccccc;

        }

        div#wrapper{

            width: 800px;
            margin: 50px auto;
            position: relative;
            overflow: visible;
            height: 700px;
           

        }

        img.floatL{
            
            width: 100%;
            height: 400px;
            padding : 10px;

        }

        div#mainSection {

            width: 380px;
            border: 1px solid #dddddd;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ffffff;
            color: #777777;
            overflow: auto;
            z-index: 1;
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            padding: 20px;
            margin-top: 0;
            
        }

        div#end{

            height: 50px; 
            position: relative;
            background-color: #666666;
            margin-bottom: 0px;
            margin-top: 700px;
            border-top: 5px solid #4aaaa5;
            width: 100% ;
            z-index: -1;
        }        

        img.icon{

            float: left;
            padding: 10px;
            width: 80px;
            height: 80px;
            
        }
    
    div#conectSection{

      
      width: auto;
      border: 1px solid #dddddd;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #ffffff;
      color: #777777;
      overflow: auto;
      z-index: 1;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      padding: 20px;
      margin: 0;

    }
}

/*Media query for 768px */

@media only screen and (max-width: 768px) {
    
    
       
    div#headerContainer {

        width: 668px ; 
        background-color: #ffffff;
        position: relative;
        top: 0;
        height: 90px;
        margin: 0 auto;
        border-bottom: 3px solid #cccccc;

    }

    div#wrapper{

        max-width: 668px; 
        width: 700px;
        margin: 50px auto;
        position: relative;
        overflow: visible;
        height: 700px;
        

    }

    img.floatL{
        
        width: 200px;
        height: 300px;
        padding : 10px;
        float: left;

    }

    div#mainSection {

        width: 638px; 
        border: 1px solid #dddddd;
        position: relative;
        background-color: #ffffff;
        color: #777777;
        overflow: auto;
        z-index: 1;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 20px;
        margin-top: 50px auto;
        
    }

    div#end{

        height: 50px;
        position: relative;
        background-color: #666666;
        margin-bottom: 0px;
        margin-top: 700px;
        border-top: 5px solid #4aaaa5;
        width: 100% ;
        z-index: -1;
    }        

    img.icon{

        float: left;
        padding: 10px;
        width: 80px;
        height: 80px;
        
    }

div#conectSection{

  
  width: 638px;
  border: 1px solid #dddddd;
  position: relative;
  background-color: #ffffff;
  color: #777777;
  overflow: auto;
  z-index: 1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 20px;
  margin: 50px auto;

}

/*Code for Portfolio page*/

div.imgBox{

    height: 200px;
    width: 260px;
    position: relative;
    padding: 20px;
    float: left;
    
    
}

div.imgBox img {

    height: 200px;
    width: 260px;
    
    
}

/* Some hover effects on pictures*/
.hoverImg:hover{

    opacity: 1; 
    cursor: pointer;
    

}
.hoverImg{

    float: left;
    opacity: 0.85; 
}
.label{

    font-size: 20px;
    padding: 10px;
    width: 240px ;
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

}

@media only screen and (max-width: 640px) {
    
   
       
    div#headerContainer {

        width: 568px ; 
        background-color: #ffffff;
        position: relative;
        top: 0;
        height: 90px;
        margin: 0 auto;
        border-bottom: 3px solid #cccccc;

    }

    div#wrapper{

        max-width: 548px; 
        width: 548px;
        margin: 50px auto;
        position: relative;
        overflow: visible;
        height: 700px;
       

    }

    img.floatL{
        
        width: 100%;
        height: 300px;
        padding : 10px;
        float: none;
        

    }

    div#mainSection {

        width: 538px; 
        border: 1px solid #dddddd;
        position: relative;
        background-color: #ffffff;
        color: #777777;
        overflow: auto;
        z-index: 1;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 20px;
        margin-top: 50px auto;
        
    }

    div#end{

        height: 50px;
        position: relative;
        background-color: #666666;
        margin-bottom: 0px;
        margin-top: 700px;
        border-top: 5px solid #4aaaa5;
        width: 100% ;
        z-index: -1;
    }        

    img.icon{

        float: none;
        padding: 10px;
        width: 80px;
        height: 80px;
        
    }

div#conectSection{

  
  width: 538px;
  border: 1px solid #dddddd;
  position: relative;
  background-color: #ffffff;
  color: #777777;
  overflow: auto;
  z-index: 1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 20px;
  margin: 50px auto;

}

/*Code for Portfolio page*/

div.imgBox{

    height: 200px;
    width: 260px;
    position: relative;
    padding: 20px;
    float: none;
    margin: 0 auto;
    
    
    
}

div.imgBox img {

    height: 200px;
    width: 260px;
    margin: 0 auto;
    
}

/* Some hover effects on pictures*/
.hoverImg:hover{

    opacity: 1; 
    cursor: pointer;
    

}
.hoverImg{

    float: none;
    opacity: 0.85; 
}
.label{

    font-size: 20px;
    padding: 10px;
    width: 240px ;
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

}